.resultPanel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  background: rgba(#000, 0.1);
  backdrop-filter: blur(10px);
  margin: 1rem 0;
  padding: 1rem;
  width: 80vw;

  border-radius: 20px;
  border-left: 0.15rem solid #fff;
  border-right: 0.15rem solid #fff;

  .entry {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    overflow: auto;
    width: fit-content;
    align-items: center;

    .reading {
      margin-top: 1rem;
      background: rgba(#000, 0.1);
      border-radius: 10px;
      padding: 0.1rem 0.25rem;
      font-size: large;
      font-weight: lighter;
    }

    .word {
      padding: 0.1rem 0.25rem;
      font-size: 2rem;
      font-weight: bold;
    }
  }

  .senses {
    .sense {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      flex: 1;
      overflow: auto;
      margin-top: 1rem;
      width: fit-content;

      .definition,
      .example {
        margin-top: 0.5rem;
        background: rgba(#000, 0.1);
        border-radius: 10px;
        padding: 0.1rem 0.25rem;
        text-transform: capitalize;
        font-size: large;
        font-weight: lighter;
      }
    }
  }

  .forms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;

    .form {
      overflow: auto;
      margin-top: 1rem;
      width: fit-content;

      .formWord {
        margin-top: 0.5rem;
        background: rgba(#000, 0.1);
        padding: 0.1rem 0.25rem;
        text-transform: capitalize;
        font-size: large;
        font-weight: lighter;
      }
    }
  }

  .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .common,
    .jlpt {
      padding: 0.1rem 0.5rem;
      border-radius: 10px;
    }

    .jlpt {
      margin-left: 0.5rem;
    }
  }
}