@use "variables" as *;

.ResultPanel {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "entry entry"
    "sense jishoLink";

  background: rgba(#000, 0.1);
  backdrop-filter: blur(10px);
  margin: 1rem 0;
  padding: 2rem 15vw;
  min-height: 20vh;
  width: 100%;
  @extend .panelSize;

  border-radius: 20px;
  border-left: 1px solid #777;
  border-right: 1px solid #777;

  .Entry {
    grid-area: entry;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    overflow: auto;
    width: fit-content;
    align-items: center;

    .Reading {
      margin-top: 0.5rem;
      background: rgba(#000, 0.1);
      border-radius: 10px;
      padding: 0.1rem 0.25rem;
      font-size: large;
      font-weight: lighter;
    }

    .Word {
      padding: 0.1rem 0.25rem;
      font-size: 2rem;
      font-weight: bold;
    }
  }

  .Senses {
    .Sense {
      grid-area: sense;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      flex: 1;
      overflow: auto;
      margin-top: 1rem;
      width: fit-content;

      .Definition,
      .Example {
        margin-top: 0.5rem;
        background: rgba(#000, 0.1);
        border-radius: 10px;
        padding: 0.1rem 0.25rem;
        text-transform: capitalize;
        font-size: large;
        font-weight: lighter;
      }
    }
  }

  .Forms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;

    .Form {
      overflow: auto;
      margin-top: 1rem;
      width: fit-content;

      .FormWord {
        margin-top: 0.5rem;
        background: rgba(#000, 0.1);
        padding: 0.1rem 0.25rem;
        text-transform: capitalize;
        font-size: large;
        font-weight: lighter;
      }
    }
  }

  .Tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .Common,
    .Jlpt {
      padding: 0.1rem 0.5rem;
      border-radius: 10px;
    }

    .Jlpt {
      margin-left: 0.5rem;
    }
  }

  .JishoLink {
    grid-area: jishoLink;
    color: rgba(#fff, 0.6);
    padding: 0.1rem 0.5rem;
    max-width: fit-content;
    align-self: flex-end;
    font-size: medium;
    font-weight: lighter;

    &:hover {
      color: #fff;
      text-decoration: underline;
      text-underline-offset: 0.15rem;
    }
  }
}
